@using Diploma.Models;

@model List<Area>
<table id="AreaGridPartialView" class="table table-borderless GridPartialView">
    <thead class="col text-center" style="text-align: center !important">
        <tr style="text-align: center !important">
            <th>
                <p class="text-white text-center">Название</p>
            </th>
            <th class="dt-center">
                <p class="text-white text-center">Описание</p>
            </th>
            <th class="dt-center">
                <p class="text-white text-center">Уровень</p>
            </th>
            <th class="dt-center">
                <p class="text-white text-center">Действия</p>
            </th>
        </tr>
    </thead>
    <tbody id="PersonListGridContent">
        @foreach(Area area in Model)
        {
            <tr >
                <td ><p class="text-white">@area.Name</p></td>
                <td><p class="text-white">@area.Description</p></td>
                <td><p class="text-white">@area.Level</p></td>
                <td>
                    <a onclick="jQueryModalGet('?handler=AreaCreateOrEdit&id=@area.Id','Редактировать')" class="btn btn-outline-light">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a onclick="jQueryModalGet('?handler=AreaDelete&id=@area.Id','Удалить')" class="btn btn-outline-light">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    }
                    

                    @*<button type="button" class="btn btn-outline-danger" data-handler="AreaListPartial" data-toggle="ajax-modal-delete-person" data-id="@area.Id" data-url="@Url.Page("Edit", "AreaModalDeletePartial")">
                        Удалить
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-handler="AreaListPartial" data-toggle="ajax-modal-edit-person" data-id="@area.Id" data-url="@Url.Page("Edit", "AreaModalEditPartial")">
                        Редактировать
                    </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    
    var table = $("#AreaGridPartialView").DataTable({
        stateSave: true,
        //language: {
        //    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json",
        //},
        "oLanguage": {
            "oPaginate": {
                //"sFirst": '<span class="pagination-default"><<</span><span class="pagination-fa"><i class="fa fa-chevron-right" ></i></span>',
                "sFirst": '<span class="pagination-default"><i class="bi bi-skip-start-fill"></i></span>',
                "sNext": '<span class="pagination-default"><i class="bi bi-caret-right-fill"></i></span>',
                "sPrevious": '<span class="pagination-default"><i class="bi bi-caret-left-fill"></i></span>',
                "sLast": '<span class="pagination-default"><i class="bi bi-skip-end-fill"></i></span>',

            },
            "oAria": {
                "sSortAscending": " - click/return to sort ascending"
            },

            "sLengthMenu": "Отобразить _MENU_ записей",
            "sInfo": "<p class='s-info-text'>Получено всего _TOTAL_ записей, показывается от (_START_ до _END_)<p>",

            "sSearch": "Поиск записи:",
        },
        "autoWidth": true,
        //language: {
        //    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json",
        //},
        scrollY: '45vh',
        "scrollCollapse": true,
        "paging": true,
        pagingType: "full_numbers",
        lengthMenu: [5, 10, 20, 50, 100, 200, 500],
        className: 'dt-center', targets: '_all'
    });


</script>