@using Microsoft.AspNetCore.Identity
@using Diploma.Controllers

@*@inject RabbitMQBusService RabbitMQBusService*@
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Мониторинг СИЗ</title>
    <link rel="canonical" href="https://icons.getbootstrap.com/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bg_clock.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diploma.styles.css" asp-append-version="true" />

   

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- SignalR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body style=" overflow: hidden; ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @{

                        if (SignInManager.IsSignedIn(principal: User))
                        {
                            string userRole = "User";
                            @if (User.IsInRole("Admin")){
                                userRole = "Admin";
                            }
                            <ul class="navbar-nav flex-grow-1 justify-content-center start-50 position-absolute translate-middle-x">

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Privacy">О сайте</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Dashboard">Дашборд</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/ConfigurationSettings">Конфигурация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Roles">Роли</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav d-flex justify-content-end end-0 position-absolute translate-middle-x">
                                <li class="nav-item">
                                    <a class="nav-link text-white p-sm-0 d-flex ">@User.Identity?.Name</a>
                                    <a class="nav-link text-white p-sm-0 d-flex ">Роль: @userRole</a>
                                </li>
                                    
                                <li class="nav-item">
                                    <a class="btn btn-primary border-0" asp-area="" asp-page="/Logout">Выход</a>
                                </li>
                            </ul>

                        }
                        else
                        {
                            <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                                <li class="nav-item">
                                    <a asp-page="/Login" class="btn btn-primary" style="border-width:0">Зайти</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Register" class="btn btn-outline-light">Зарегистрироваться</a>
                                </li>
                            </ul>
                        }
                    }

                </div>
            </div>
        </nav>
    </header>

    <canvas id="canvas1" style="display: block; position: fixed; margin: 0px; padding: 0px; border: 0px; outline: 0px; left: 0px; top: 0px; width: 100%; height: 100%; z-index: -1;"></canvas>
    <script src="~/js/perlinxbrownian_motion.js"></script>
    <script src="~/js/bg_flow1.js"></script>

    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="form-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white"></h5>
                    <div class="circle"></div>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>*@
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

    <div class="container body-content ">
        @RenderBody()
        <h>@ViewData["Message"]</h>
    </div>
    @*<footer class="bottom-0">
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>*@
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script>*@

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://unpkg.com/bs5-toast/dist/bs5-toast.js"></script>
    <script>
        $(document).ready(function () {
            //window.alertify.message({ text: 'Success message' });
            //window.alertify.message('Will stay open till clicked.', 0);
            //window.alertify.success(`<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            //                                <div class="toast-header bg-warning" style="">
            //                                <strong class="me-auto">Bootstrap</strong>
            //                                <small>Уведомление</small>
            //                                </div>
            //                                <div class="toast-body ">
            //                                    aewqewqeqewrqwr
            //                                </div>
            //                          </div>`);

            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

            // получение сообщения от сервера
            hubConnection.on('Notify', function (message, color) {
                console.log(message, color);
                if (color == "red"){

                    console.log("color" + color)
                    var toast = new bs5.Toast({
                        body: `<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header bg-warning" style="">
                                    <strong class="me-auto">Bootstrap</strong>
                                    <small>Уведомление</small>
                                    </div>
                                    <div class="toast-body ">
                                        ${message}
                                    </div>
                              </div>`,
                        placement: 'bottom-right',
                    });
                    toast.show();
                }
                else if (color == "yellow") {
                    console.log("color" + color)
                    Toastify({
                        text: message,
                        className: "info",
                        close: true,
                        duration: 3000,
                        gravity: "bottom",
                        style: {
                            background: "rgba(255, 255, 255, 0.05)",
                        }
                    }).showToast();
                    console.log("color" + color)
                }



            });
            hubConnection.start();
        });
    </script>


    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>