@using Diploma.Models;

@model List<LogDTO>

<table id="AreaGridPartialView" class="table table-striped GridPartialView" style="  overflow: scroll">
    <thead>
        <tr>
            <th>
                <p class="text-white">Id</p>
            </th>
            <th> 
                <p class="text-white">Тип сообщения</p>
            </th>
            <th> 
                <p class="text-white">Текст</p>
            </th>
            <th>
                <p class="text-white">Id камеры</p>
            </th>
            <th> 
                <p class="text-white">Камера</p>
            </th>
            <th>
                <p class="text-white">Id предмета</p>
            </th>
            <th>
                <p class="text-white">Объект обнаружения</p>
            </th>
            <th>
                <p class="text-white">Время</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="PersonListGridContent">
        @foreach(LogDTO log in Model)
        {
            <tr>
                <td><p class="text-white">@log.Id</p></td>
                <td><p class="text-white">@log.MessageType.ToString()</p></td>
                <td><p class="text-white">@log.Text</p></td>
                <td><p class="text-white">@log.CameraId</p></td>
                <td><p class="text-white">@log.CameraName</p></td>
                <td><p class="text-white">@log.ObjectId</p></td>
                <td><p class="text-white">@log.ObjectName</p></td>
                <td><p class="text-white">@log.DateTime.ToString("dd/MM/yyyy hh:mm:ss")</p></td>
                @*<td><a href="@Url.Page("Index", "DownloadFile", new { fileName = log.DetectionPath})">Download</a></td>*@
                <td>
                    <a href="#" onclick="jDownload('@log.DetectionPath?.Replace("\\", "\\\\")')" class="link-light text-white">Скачать</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<script>
    //function download(filePath) {
    //    console.log(filePath);
    //    //var filePath = "C:\\Users\\Vadim\\source\\repos\\Diploma\\Diploma\\Files\\startup_config.json";
    //    $.ajax({
    //        url: '?handler=DownloadFile&filePath=' + encodeURIComponent(filePath),
    //        type: 'GET',
    //        success: function (data) {
    //            var blob = new Blob([data]);
    //            var url = URL.createObjectURL(blob);
    //            var link = document.createElement('a');
    //            link.href = url;
    //            link.download = 'myfile.txt';
    //            link.click();
    //        }
    //    });
    //};
    //document.getElementById('download-btn').addEventListener('click', function () {
    //    var filePath = "C:\\Users\\Vadim\\source\\repos\\Diploma\\Diploma\\Files\\startup_config.json";
    //    $.ajax({
    //        url: '?handler=DownloadFile&filePath=' + encodeURIComponent(filePath),
    //        type: 'GET',
    //        success: function (data) {
    //            var blob = new Blob([data]);
    //            var url = URL.createObjectURL(blob);
    //            var link = document.createElement('a');
    //            link.href = url;
    //            link.download = 'myfile.txt';
    //            link.click();
    //        }
    //    });
    //});
    $("#AreaGridPartialView").DataTable({
        stateSave: true,
        //language: {
        //    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json",
        //},
        "oLanguage": {
            "oPaginate": {
                //"sFirst": '<span class="pagination-default"><<</span><span class="pagination-fa"><i class="fa fa-chevron-right" ></i></span>',
                "sFirst": '<span class="pagination-default"><i class="bi bi-skip-start-fill"></i></span>',
                "sNext": '<span class="pagination-default"><i class="bi bi-caret-right-fill"></i></span>',
                "sPrevious": '<span class="pagination-default"><i class="bi bi-caret-left-fill"></i></span>',
                "sLast": '<span class="pagination-default"><i class="bi bi-skip-end-fill"></i></span>',

            },
            "oAria": {
                "sSortAscending": " - click/return to sort ascending"
            },

            "sLengthMenu": "Отобразить _MENU_ записей",
            "sInfo": "<p class='s-info-text'>Получено всего _TOTAL_ записей, показывается от (_START_ до _END_)<p>",

            "sSearch": "Поиск записи:",
        },
        //language: {
        //    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json",
        //},
        scrollY: '45vh',
        "scrollCollapse": true,
        "paging": true,
        pagingType: "full_numbers",
        lengthMenu: [5, 10, 20, 50, 100, 200, 500],
    });
</script>