@using Diploma.Models;
@using Microsoft.AspNetCore.Identity;

@model List<IdentityUser>

<table id="GridPartialView" class="table table-striped GridPartialView">
    <thead>
        <tr>
            <th> 
                <p class="text-white">Id</p>
            </th>
            <th> 
                <p class="text-white">Имя пользователя</p>
            </th>
            <th> 
                <p class="text-white">Email</p>
            </th>
            <th>
                <p class="text-white">Номер телефона</p>
            </th>
            <th>
                <p class="text-white">Количество неправильных входов</p>
            </th>
            <th>
                <p class="text-white">Действия</p>
            </th>
        </tr>
    </thead>
    <tbody id="UserListGridContent">
        @foreach(IdentityUser user in Model)
        {
            <tr>
                <td><p class="text-white">@user.Id</p></td>
                <td><p class="text-white">@user.UserName</p></td>
                <td><p class="text-white">@user.Email</p></td>
                <td><p class="text-white">@user.PhoneNumber</p></td>
                <td><p class="text-white">@user.AccessFailedCount</p></td>
                
                <td>
                    <button type="button" class="btn btn-outline-danger" data-handler="UserListPartial" data-toggle="ajax-modal-delete-person" data-id="@user.Id" data-url="@Url.Page("Edit", "UserModalDeletePartial")">
                        Удалить
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-handler="UserListPartial" data-toggle="ajax-modal-edit-person" data-id="@user.Id" data-url="@Url.Page("Edit", "UserModalEditPartial")">
                        Редактировать
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
